development:
    adapter: mysql2
    encoding: utf8
    database: ip_heatmap
    pool: 5
    username: root
    password:
    socket: /tmp/mysql.sock

test:
    adapter: mysql2
    encoding: utf8
    database: ip_heatmap
    pool: 5
    username: root
    password:
    socket: /tmp/mysql.sock

production:
    adapter: mysql2
    encoding: utf8
    database: ip_heatmap
    pool: 5
    username: root
    password:
    socket: /tmp/mysql.sock