body, html {
  margin:0;
	padding:0;
	font-family:Arial;
}
h1 {
	margin-bottom:10px;
}
#main {
	position:relative;
	width:1020px;
	padding:20px;
	margin:auto;
}
#heatmapArea {
	position:relative;
	float:left;
	width:800px;
	height:600px;
	border:1px dashed black;
}
